In [1]:
# Dependencies, files etc.
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import numpy as np

netfile = 'raw/InternetUsers.csv'

# Read file and store in dataframe
userdata = pd.read_csv(netfile)

In [2]:
# Inspect the internet users data.
userdata.head()

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,0,Afghanistan,AFG,1980,0.0,0.0,0,0.0
1,1,Afghanistan,AFG,1981,0.0,0.0,0,0.0
2,2,Afghanistan,AFG,1982,0.0,0.0,0,0.0
3,3,Afghanistan,AFG,1983,0.0,0.0,0,0.0
4,4,Afghanistan,AFG,1984,0.0,0.0,0,0.0

In [9]:
# Drop data for years prior to 2005, since the World Happiness data starts with 2005.
users_present = userdata[userdata['Year'] >= 2005]
users_present.head(15)

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
25,25,Afghanistan,AFG,2005,4.677583,1.224148,298829,0.000858
26,26,Afghanistan,AFG,2006,9.534904,2.107124,536114,0.001892
27,27,Afghanistan,AFG,2007,17.225105,1.900000,492163,0.001845
28,28,Afghanistan,AFG,2008,28.493004,1.840000,486261,0.001804
29,29,Afghanistan,AFG,2009,36.978584,3.550000,972178,0.003522
30,30,Afghanistan,AFG,2010,35.003128,4.000000,1127587,0.005140
31,31,Afghanistan,AFG,2011,45.813625,5.000000,1462458,0.000000
32,32,Afghanistan,AFG,2012,49.227978,5.454545,1661808,0.004814
33,33,Afghanistan,AFG,2013,52.083576,5.900000,1860932,0.004648
34,34,Afghanistan,AFG,2014,55.159515,7.000000,2290135,0.004495
35,35,Afghanistan,AFG,2015,57.271069,8.260000,2788039,0.020535
36,36,Afghanistan,AFG,2016,61.054638,11.000000,3809983,0.024874
37,37,Afghanistan,AFG,2017,65.929131,13.500000,4811862,0.025297
38,38,Afghanistan,AFG,2018,59.120850,16.799999,6163380,0.043041
39,39,Afghanistan,AFG,2019,59.356018,17.600000,6647431,0.051741

In [14]:
# Create a dataframe for the users by country, removing any containing 'income'
indexincomes = users_present[users_present['Entity'].str.contains('income') == True].index
users_bycountry = users_present.drop(indexincomes)
print(users_bycountry)

      Unnamed: 0       Entity Code  Year  Cellular Subscription  \
25            25  Afghanistan  AFG  2005               4.677583
26            26  Afghanistan  AFG  2006               9.534904
27            27  Afghanistan  AFG  2007              17.225105
28            28  Afghanistan  AFG  2008              28.493004
29            29  Afghanistan  AFG  2009              36.978584
...          ...          ...  ...   ...                    ...
8862        8862     Zimbabwe  ZWE  2016              91.793457
8863        8863     Zimbabwe  ZWE  2017              98.985077
8864        8864     Zimbabwe  ZWE  2018              89.404869
8865        8865     Zimbabwe  ZWE  2019              90.102287
8866        8866     Zimbabwe  ZWE  2020              88.755806

      Internet Users(%)  No. of Internet Users  Broadband Subscription
25             1.224148                 298829                0.000858
26             2.107124                 536114                0.001892
27             1.900000                 492163                0.001845
28             1.840000                 486261                0.001804
29             3.550000                 972178                0.003522
...                 ...                    ...                     ...
8862          23.119989                3341464                1.217633
8863          24.400000                3599269                1.315694
8864          25.000000                3763048                1.406322
8865          25.100000                3854006                1.395818
8866          29.299999                4591211                1.368916

[3404 rows x 8 columns]

In [15]:
users_bycountry.reset_index()
users_bycountry.drop('Unnamed: 0', axis = 1)

,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
25,Afghanistan,AFG,2005,4.677583,1.224148,298829,0.000858
26,Afghanistan,AFG,2006,9.534904,2.107124,536114,0.001892
27,Afghanistan,AFG,2007,17.225105,1.900000,492163,0.001845
28,Afghanistan,AFG,2008,28.493004,1.840000,486261,0.001804
29,Afghanistan,AFG,2009,36.978584,3.550000,972178,0.003522
...,...,...,...,...,...,...,...
8862,Zimbabwe,ZWE,2016,91.793457,23.119989,3341464,1.217633
8863,Zimbabwe,ZWE,2017,98.985077,24.400000,3599269,1.315694
8864,Zimbabwe,ZWE,2018,89.404869,25.000000,3763048,1.406322
8865,Zimbabwe,ZWE,2019,90.102287,25.100000,3854006,1.395818
8866,Zimbabwe,ZWE,2020,88.755806,29.299999,4591211,1.368916

In [17]:
# Drop the regions from the country dataframe
indexregions = users_bycountry[users_bycountry['Code'] == 'Region'].index
final_users = users_bycountry.drop(indexregions)
print(final_users)

      Unnamed: 0       Entity Code  Year  Cellular Subscription  \
25            25  Afghanistan  AFG  2005               4.677583
26            26  Afghanistan  AFG  2006               9.534904
27            27  Afghanistan  AFG  2007              17.225105
28            28  Afghanistan  AFG  2008              28.493004
29            29  Afghanistan  AFG  2009              36.978584
...          ...          ...  ...   ...                    ...
8862        8862     Zimbabwe  ZWE  2016              91.793457
8863        8863     Zimbabwe  ZWE  2017              98.985077
8864        8864     Zimbabwe  ZWE  2018              89.404869
8865        8865     Zimbabwe  ZWE  2019              90.102287
8866        8866     Zimbabwe  ZWE  2020              88.755806

      Internet Users(%)  No. of Internet Users  Broadband Subscription
25             1.224148                 298829                0.000858
26             2.107124                 536114                0.001892
27             1.900000                 492163                0.001845
28             1.840000                 486261                0.001804
29             3.550000                 972178                0.003522
...                 ...                    ...                     ...
8862          23.119989                3341464                1.217633
8863          24.400000                3599269                1.315694
8864          25.000000                3763048                1.406322
8865          25.100000                3854006                1.395818
8866          29.299999                4591211                1.368916

[3276 rows x 8 columns]

In [18]:
final_users.reset_index()
final_users.drop('Unnamed: 0', axis = 1)

,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
25,Afghanistan,AFG,2005,4.677583,1.224148,298829,0.000858
26,Afghanistan,AFG,2006,9.534904,2.107124,536114,0.001892
27,Afghanistan,AFG,2007,17.225105,1.900000,492163,0.001845
28,Afghanistan,AFG,2008,28.493004,1.840000,486261,0.001804
29,Afghanistan,AFG,2009,36.978584,3.550000,972178,0.003522
...,...,...,...,...,...,...,...
8862,Zimbabwe,ZWE,2016,91.793457,23.119989,3341464,1.217633
8863,Zimbabwe,ZWE,2017,98.985077,24.400000,3599269,1.315694
8864,Zimbabwe,ZWE,2018,89.404869,25.000000,3763048,1.406322
8865,Zimbabwe,ZWE,2019,90.102287,25.100000,3854006,1.395818
8866,Zimbabwe,ZWE,2020,88.755806,29.299999,4591211,1.368916

In [19]:
final_users.to_csv(r'json/import_files/user_data.csv', index = False)