In [1]:
# Dependencies, files etc.

import pandas as pd

netfile = 'raw/InternetUsers.csv'
happyfile = 'raw/WorldHappiness.csv'

# Read files and store in dataframes
userdata = pd.read_csv(netfile)
happydata = pd.read_csv(happyfile)

In [2]:
# Inspect the internet users data first.
userdata.head()

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,0,Afghanistan,AFG,1980,0.0,0.0,0,0.0
1,1,Afghanistan,AFG,1981,0.0,0.0,0,0.0
2,2,Afghanistan,AFG,1982,0.0,0.0,0,0.0
3,3,Afghanistan,AFG,1983,0.0,0.0,0,0.0
4,4,Afghanistan,AFG,1984,0.0,0.0,0,0.0

In [3]:
# Look at unique values in the country field.
print(userdata['Entity'].unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Asia and Pacific' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Europe and Central Asia' 'European Union' 'Faeroe Islands'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guam'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'High income'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latin America and Caribbean' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Low and middle income' 'Low income'
 'Lower middle income' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (country)'
 'Middle East and North Africa' 'Middle income' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North America' 'North Korea' 'North Macedonia'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Asia' 'South Korea' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sub-Saharan Africa' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper middle income' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'World' 'Yemen' 'Zambia'
 'Zimbabwe']

In [6]:
# Drop data for years prior to 2005, since the World Happiness data starts with 2005.
users_present = userdata[userdata['Year'] >= 2005]
users_present.head(15)

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
25,25,Afghanistan,AFG,2005,4.677583,1.224148,298829,0.000858
26,26,Afghanistan,AFG,2006,9.534904,2.107124,536114,0.001892
27,27,Afghanistan,AFG,2007,17.225105,1.900000,492163,0.001845
28,28,Afghanistan,AFG,2008,28.493004,1.840000,486261,0.001804
29,29,Afghanistan,AFG,2009,36.978584,3.550000,972178,0.003522
30,30,Afghanistan,AFG,2010,35.003128,4.000000,1127587,0.005140
31,31,Afghanistan,AFG,2011,45.813625,5.000000,1462458,0.000000
32,32,Afghanistan,AFG,2012,49.227978,5.454545,1661808,0.004814
33,33,Afghanistan,AFG,2013,52.083576,5.900000,1860932,0.004648
34,34,Afghanistan,AFG,2014,55.159515,7.000000,2290135,0.004495
35,35,Afghanistan,AFG,2015,57.271069,8.260000,2788039,0.020535
36,36,Afghanistan,AFG,2016,61.054638,11.000000,3809983,0.024874
37,37,Afghanistan,AFG,2017,65.929131,13.500000,4811862,0.025297
38,38,Afghanistan,AFG,2018,59.120850,16.799999,6163380,0.043041
39,39,Afghanistan,AFG,2019,59.356018,17.600000,6647431,0.051741

In [9]:
# Create a separate dataframe for the income rows, since we will treat the income groups separate from the country groups.
users_income = users_present.loc[users_present['Entity'].str.contains('income')]
print(users_income)

      Unnamed: 0               Entity    Code  Year  Cellular Subscription  \
3471        3471          High income  Region  2005              83.760674
3472        3472          High income  Region  2006              91.438065
3473        3473          High income  Region  2007              99.766846
3474        3474          High income  Region  2008             104.228630
3475        3475          High income  Region  2009             107.192009
...          ...                  ...     ...   ...                    ...
8493        8493  Upper middle income  Region  2016             108.022812
8494        8494  Upper middle income  Region  2017             111.202080
8495        8495  Upper middle income  Region  2018             118.140427
8496        8496  Upper middle income  Region  2019             121.667953
8497        8497  Upper middle income  Region  2020             119.429337

      Internet Users(%)  No. of Internet Users  Broadband Subscription
3471          58.700577                      0               15.106631
3472          61.410343                      0               18.569134
3473          66.809647                      0               21.689613
3474          68.904007                      0               23.604269
3475          70.145912                      0               25.041727
...                 ...                    ...                     ...
8493          56.083614                      0               18.528900
8494          58.681305                      0               21.638605
8495          63.114258                      0               22.654459
8496          67.654503                      0               24.197001
8497          73.379814                      0               26.078997

[96 rows x 8 columns]

In [13]:
# Create a dataframe for the users by country, removing any containing 'income'
users_bycountry = users_present.loc[users_present['Entity'].str.contains('income') == False]
print(users_bycountry)

      Unnamed: 0       Entity Code  Year  Cellular Subscription  \
25            25  Afghanistan  AFG  2005               4.677583
26            26  Afghanistan  AFG  2006               9.534904
27            27  Afghanistan  AFG  2007              17.225105
28            28  Afghanistan  AFG  2008              28.493004
29            29  Afghanistan  AFG  2009              36.978584
...          ...          ...  ...   ...                    ...
8862        8862     Zimbabwe  ZWE  2016              91.793457
8863        8863     Zimbabwe  ZWE  2017              98.985077
8864        8864     Zimbabwe  ZWE  2018              89.404869
8865        8865     Zimbabwe  ZWE  2019              90.102287
8866        8866     Zimbabwe  ZWE  2020              88.755806

      Internet Users(%)  No. of Internet Users  Broadband Subscription
25             1.224148                 298829                0.000858
26             2.107124                 536114                0.001892
27             1.900000                 492163                0.001845
28             1.840000                 486261                0.001804
29             3.550000                 972178                0.003522
...                 ...                    ...                     ...
8862          23.119989                3341464                1.217633
8863          24.400000                3599269                1.315694
8864          25.000000                3763048                1.406322
8865          25.100000                3854006                1.395818
8866          29.299999                4591211                1.368916

[3404 rows x 8 columns]

In [15]:
# Create a dataframe for users by the remaining regions, now that income groups have been removed
users_byregion = users_bycountry.loc[users_bycountry['Code'] == 'Region']
print(users_byregion)

      Unnamed: 0                 Entity    Code  Year  Cellular Subscription  \
2224        2224  East Asia and Pacific  Region  2005              33.835049
2225        2225  East Asia and Pacific  Region  2006              39.216740
2226        2226  East Asia and Pacific  Region  2007              47.739178
2227        2227  East Asia and Pacific  Region  2008              56.768711
2228        2228  East Asia and Pacific  Region  2009              64.591988
...          ...                    ...     ...   ...                    ...
7579        7579     Sub-Saharan Africa  Region  2016              73.581993
7580        7580     Sub-Saharan Africa  Region  2017              72.867790
7581        7581     Sub-Saharan Africa  Region  2018              82.197639
7582        7582     Sub-Saharan Africa  Region  2019              79.651482
7583        7583     Sub-Saharan Africa  Region  2020              83.087425

      Internet Users(%)  No. of Internet Users  Broadband Subscription
2224          14.686473                      0                3.919807
2225          16.637499                      0                4.924325
2226          20.790457                      0                5.751167
2227          25.285494                      0                6.896633
2228          29.550663                      0                8.145584
...                 ...                    ...                     ...
7579          17.924685                      0                0.405933
7580          20.832130                      0                0.418286
7581          24.716234                      0                0.504292
7582          27.335394                      0                0.487229
7583          30.042620                      0                0.600072

[128 rows x 8 columns]

In [16]:
# Look at unique values in the regions.
print(users_byregion['Entity'].unique())

['East Asia and Pacific' 'Europe and Central Asia' 'European Union'
 'Latin America and Caribbean' 'Middle East and North Africa'
 'North America' 'South Asia' 'Sub-Saharan Africa']

In [19]:
# Drop the regions from the country dataframe
indexregions = users_bycountry[users_bycountry['Code'] == 'Region'].index
users_bycountry.drop(indexregions, inplace = True)
print(users_bycountry)

      Unnamed: 0       Entity Code  Year  Cellular Subscription  \
25            25  Afghanistan  AFG  2005               4.677583
26            26  Afghanistan  AFG  2006               9.534904
27            27  Afghanistan  AFG  2007              17.225105
28            28  Afghanistan  AFG  2008              28.493004
29            29  Afghanistan  AFG  2009              36.978584
...          ...          ...  ...   ...                    ...
8862        8862     Zimbabwe  ZWE  2016              91.793457
8863        8863     Zimbabwe  ZWE  2017              98.985077
8864        8864     Zimbabwe  ZWE  2018              89.404869
8865        8865     Zimbabwe  ZWE  2019              90.102287
8866        8866     Zimbabwe  ZWE  2020              88.755806

      Internet Users(%)  No. of Internet Users  Broadband Subscription
25             1.224148                 298829                0.000858
26             2.107124                 536114                0.001892
27             1.900000                 492163                0.001845
28             1.840000                 486261                0.001804
29             3.550000                 972178                0.003522
...                 ...                    ...                     ...
8862          23.119989                3341464                1.217633
8863          24.400000                3599269                1.315694
8864          25.000000                3763048                1.406322
8865          25.100000                3854006                1.395818
8866          29.299999                4591211                1.368916

[3276 rows x 8 columns]

C:\Users\ennef\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
# Look at unique values in the countries to ensure we've removed all regions and incomes.
internetusers_countries = users_bycountry['Entity'].unique()
print(users_bycountry['Entity'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Faeroe Islands' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Korea'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'United States Virgin Islands' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Venezuela' 'Vietnam' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [21]:
# Look at the happiness report data
happydata.head()

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440

In [23]:
# Compare the two datasets' region identifiers
print(happydata['Regional Indicator'].unique())
print(users_byregion['Entity'].unique())

['South Asia' 'Central and Eastern Europe' 'Middle East and North Africa'
 nan 'Latin America and Caribbean' 'Commonwealth of Independent States'
 'North America and ANZ' 'Western Europe' 'Sub-Saharan Africa'
 'Southeast Asia' 'East Asia']
['East Asia and Pacific' 'Europe and Central Asia' 'European Union'
 'Latin America and Caribbean' 'Middle East and North Africa'
 'North America' 'South Asia' 'Sub-Saharan Africa']

In [ ]:
# Unfortunately, the regions do not align between the two datasets. We will match by country.

In [29]:
# Drop 2021 and 2022 from Happiness Report data
indexdropyrs = happydata[happydata['Year'] > 2020].index
happydata.drop(indexdropyrs, inplace = True)
print(happydata)

     Country Name  Regional Indicator  Year  Life Ladder  Log GDP Per Capita  \
0     Afghanistan          South Asia  2008     3.723590            7.350416
1     Afghanistan          South Asia  2009     4.401778            7.508646
2     Afghanistan          South Asia  2010     4.758381            7.613900
3     Afghanistan          South Asia  2011     3.831719            7.581259
4     Afghanistan          South Asia  2012     3.782938            7.660506
...           ...                 ...   ...          ...                 ...
2192     Zimbabwe  Sub-Saharan Africa  2016     3.735400            7.734831
2193     Zimbabwe  Sub-Saharan Africa  2017     3.638300            7.754387
2194     Zimbabwe  Sub-Saharan Africa  2018     3.616480            7.783066
2195     Zimbabwe  Sub-Saharan Africa  2019     2.693523            7.697755
2196     Zimbabwe  Sub-Saharan Africa  2020     3.159802            7.596050

      Social Support  Healthy Life Expectancy At Birth  \
0           0.450662                         50.500000
1           0.552308                         50.799999
2           0.539075                         51.099998
3           0.521104                         51.400002
4           0.520637                         51.700001
...              ...                               ...
2192        0.768425                         51.674999
2193        0.754147                         52.150002
2194        0.775388                         52.625000
2195        0.759162                         53.099998
2196        0.717243                         53.575001

      Freedom To Make Life Choices  Generosity  Perceptions Of Corruption  \
0                         0.718114    0.167652                   0.881686
1                         0.678896    0.190809                   0.850035
2                         0.600127    0.121316                   0.706766
3                         0.495901    0.163571                   0.731109
4                         0.530935    0.237588                   0.775620
...                            ...         ...                        ...
2192                      0.732971   -0.078541                   0.723612
2193                      0.752826   -0.080725                   0.751208
2194                      0.762675   -0.051219                   0.844209
2195                      0.631908   -0.047464                   0.830652
2196                      0.643303    0.006313                   0.788523

      Positive Affect  Negative Affect  Confidence In National Government
0            0.414297         0.258195                           0.612072
1            0.481421         0.237092                           0.611545
2            0.516907         0.275324                           0.299357
3            0.479835         0.267175                           0.307386
4            0.613513         0.267919                           0.435440
...               ...              ...                                ...
2192         0.685256         0.208555                           0.699344
2193         0.733641         0.224051                           0.682647
2194         0.657524         0.211726                           0.550508
2195         0.658434         0.235354                           0.456455
2196         0.660658         0.345736                           0.577302

[1963 rows x 13 columns]

In [30]:
print(happydata['Country Name'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo (Brazzaville)' 'Congo (Kinshasa)'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong S.A.R. of China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'Somaliland region' 'South Africa' 'South Korea' 'South Sudan' 'Spain'
 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkiye'
 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen'
 'Zambia' 'Zimbabwe']

In [31]:
# Ensure we have the same list of countries in both datasets

In [40]:
happy_countries = happydata['Country Name'].unique()
internetusers_countries
# unique_countries = pd.concat(happy_countries, internetusers_countries).drop_duplicates(keep = False)
unique_countries = list(set(happy_countries).symmetric_difference(set(internetusers_countries)))
print(unique_countries)

['Cape Verde', 'Macao', 'Saint Lucia', 'Tonga', 'Gibraltar', 'Dominica', 'French Polynesia', 'Turkey', 'North Korea', 'Nauru', 'Sint Maarten (Dutch part)', 'Palau', 'Sao Tome and Principe', 'Eritrea', 'Turkiye', 'Tuvalu', 'Solomon Islands', 'San Marino', 'Papua New Guinea', 'Greenland', 'State of Palestine', 'British Virgin Islands', 'Samoa', 'Seychelles', 'Timor', 'Somaliland region', 'New Caledonia', 'Congo', 'Faeroe Islands', 'Aruba', 'Barbados', 'Hong Kong S.A.R. of China', 'Saint Kitts and Nevis', 'Taiwan Province of China', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Bermuda', 'Liechtenstein', 'Equatorial Guinea', 'Cayman Islands', 'Hong Kong', 'Saint Vincent and the Grenadines', 'Curacao', 'Grenada', "Cote d'Ivoire", 'Monaco', 'Bahamas', 'Guinea-Bissau', 'Antigua and Barbuda', 'Marshall Islands', 'Ivory Coast', 'Palestine', 'Brunei', 'Micronesia (country)', 'Andorra', 'Democratic Republic of Congo', 'World', 'Fiji', 'United States Virgin Islands', 'Kiribati', 'Puerto Rico', 'Vanuatu']

In [45]:
# The above is a list of countries that do not exist in both datasets.
# We can drop this from the internet users data for consistency.
final_usersdata = users_bycountry[~users_bycountry['Entity'].isin(unique_countries)]
print(final_usersdata['Entity'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Estonia' 'Eswatini' 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana'
 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone'
 'Singapore' 'Slovakia' 'Slovenia' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [46]:
# Next, let's drop from a version of the happiness data for comparison to the internet data
final_happydata = happydata[~happydata['Country Name'].isin(unique_countries)]
print(final_happydata['Country Name'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Estonia' 'Eswatini' 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana'
 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone'
 'Singapore' 'Slovakia' 'Slovenia' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']